__pycache__/
src/Authentication/models/__pycache__/
src/Authentication/routes/__pycache__/
src/Payment/__pycache__/
src/Player/__pycache__/
src/Training/models/__pycache__/

src/common/__pycache__/
tests/__pycache__/
.coverage
key.json
.env
platinum-8b28f-firebase-adminsdk-ln291-90678268e5.json
