bin/__pycache__/
src/Authentication/__pycache__/
src/common/__pycache__/
src/subscription/__pycache__/
src/Player/__pycache__/
src/routine/models/__pycache__/
src/routine/routes/__pycache__/
src/routine/service/__pycache__/
tests/__pycache__/
uploads
.coverage
key.json
.env
background.py
player_routine.json
platinum-8b28f-firebase-adminsdk-ln291-90678268e5.json
