# Pin dependencies that might cause breakage
Werkzeug==2.1.2
SQLAlchemy==1.4.46

# Build dependencies
Flask
Flask-SQLAlchemy
psycopg2-binary
python-dotenv
firebase-admin
Flask-Mail
PyJWT

# Mongo db packages
pymongo
Flask-PyMongo

# Runtime dependencies
gunicorn
honcho
Flask-Talisman
Flask-Cors


# Code quality
pylint
flake8
black


# Testing dependencies
nose-py3
pinocchio
factory-boy

# Code Coverage
coverage

# Utilities
httpie
pyotp
pyjwt
pillow
marshmallow