bin/__pycache__/
src/Authentication/__pycache__/
src/common/__pycache__/
src/subscription/__pycache__/
src/Player/__pycache__/
src/routine/models/__pycache__/
src/routine/routes/__pycache__/
src/routine/service/__pycache__/
tests/__pycache__/
__pycache__/
*.pyc
uploads
.coverage
key.json
.env
background.py
unicepse.json
encrypt.py
uni.json